<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>HT-Pharmacy</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<link th:href="@{/css/styleweb.css}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/modernizr.custom.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<!--//js-->
<!--cart-->
<script th:src="@{/js/simpleCart.min.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<!--cart-->
<!--web-fonts-->
<!--animation-effect-->
<link th:href="@{/css/animate.min.css}" rel="stylesheet"> 
<script th:src="@{/js/wow.min.js}"></script>
<script>
 new WOW().init();
</script>
<style>
    /* Set the size of the div element that contains the map */
   #map {
     height: 300px;  /* The height is 400 pixels */
     width: 100%;  /* The width is the width of the web page */
    }
 </style>
<!--//animation-effect-->
<!--close-button-->
<script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.cart-header').fadeOut('slow', function(c){
	  		$('.cart-header').remove();
		});
	});	  
});
</script>
<script>$(document).ready(function(c) {
	$('.alert-close1').on('click', function(c){
		$('.cart-header1').fadeOut('slow', function(c){
	  		$('.cart-header1').remove();
		});
	});	  
});
</script>
<script>$(document).ready(function(c) {
	$('.alert-close2').on('click', function(c){
		$('.cart-header2').fadeOut('slow', function(c){
	  		$('.cart-header2').remove();
		});
	});	  
});
</script>
<!--//close-button-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
</head>
<body>
	<div id="chatx">
		<a href="#" onclick="displayChatBot()" style="font-size:60px; z-index:20; position: fixed; margin-right:35px; margin-bottom:20px; bottom: 0; right: 0;"><span class="fa fa-commenting"></span></a>
	</div>
	<div id="username-page" style="display: none;">
		<div class="username-page-container">
			<button style="float:right;" onclick="closeUserPage()"><span class="glyphicon glyphicon-remove"></span></button>
			<h1 class="title-chat">Nhập tên của bạn</h1>
			<form id="usernameForm" name="usernameForm" style="margin:0 10px 0 10px;">
				<div class="form-group">
					<input type="text" id="name" placeholder="Username"
						autocomplete="off" class="form-control-chat" />
				</div>
				<div class="form-group">
					<button type="submit" class="accent btn-chat username-submit">Bắt đầu chat</button>
				</div>
			</form>
		</div>
	</div>
	<div id="chat-page" class="hidden">
		<div class="chat-container">
			<button style="float:right;" onclick="closeChatPage()"><span class="glyphicon glyphicon-remove"></span></button>
			<div class="chat-header">
				<h2>HT-Pharmacy Chat</h2>
			</div>
			<ul id="messageArea">

			</ul>
			<form id="messageForm" name="messageForm" nameForm="messageForm">
				<div class="form-group">
					<div class="input-group clearfix">
						<input type="text" id="message" placeholder="Type a message..."
							autocomplete="off" class="form-control-chat" />
						<button type="submit" class="primary btn-chat">Send</button>
						<a th:if="${QL == 1}" href="#" id="txtCheck" onclick="checkChat()">Kiểm tra</a>
					</div>
					
				</div>
			</form>
			
		</div>
	</div>
	<script th:src="@{/js/chatBot.js}"></script>
	<!--header-->
	<div class="header">
		<div class="top-header navbar navbar-default"><!--header-one-->
			<div class="container">
				<div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<p>Welcome to HT-Pharmacy <a href="register.html">Register </a> Or <a href="signin.html">Sign In </a></p>
				</div>
				<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="pin"> </a></li>
						<li><a href="#" class="in"> </a></li>
						<li><a href="#" class="be"> </a></li>
						<li><a href="#" class="you"> </a></li>
						<li><a href="#" class="vimeo"> </a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-two navbar navbar-default"><!--header-two-->
			<div class="container">
				<div class="nav navbar-nav header-two-left">
					<ul>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+967 539 819</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">quangthu1911@gmail.com</a></li>			
					</ul>
				</div>
				<div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
					<h1><a th:href="@{/index}">HT <b>Pharmacy</b><span class="tag">Everything for You </span> </a></h1>
				</div>
				<div class="nav navbar-nav navbar-right header-two-right">
					<div class="header-right my-account">
						<div class="dropdown">
						  <a href="#" class="btn btn-secondary" id="userNameLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  </a>
						  <div class="dropdown-menu" style="text-align: center; margin-right:-55px;" >
						    <a class="dropdown-item" th:href="@{/inforAccount}">Thông tin</a><br>
						    <a class="dropdown-item" th:href="@{/listOrder}">Đơn mua</a><br>
						    <form class="dropdown-item" action="#" th:action="@{/j_spring_security_logout}" method="POST">
					        	<button style="font-size:10px;" type="submit">Đăng xuất</button>
					    	</form>
						  </div>
						</div>						
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="top-nav navbar navbar-default"><!--header-three-->
			<div class="container">
				<nav class="navbar" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!--//header-->
	<!--breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a th:href="@{/index}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
				<li class="active">Giỏ hàng</li>
			</ol>
		</div>
	</div>
	<!--//breadcrumbs-->
	<!--Short codes-->
	<form th:object="${objAddress}" th:action="@{gotoPurchase}" id="purchase" method="post">
	<div class="codes" style="background:#F5F5F5">
		<div class="container" style="background:#FFFFFF ">
			<div class="address-customer">
				<h4 style="color: #FF5A10; margin-top: 20px; margin-bottom: 20px;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Địa chỉ nhận hàng</h4> 
				<p id="error_message" style="color:red;"></p>
				<div class="row wow fadeInDown animated" data-wow-delay=".5s">
					
						<div class="col-md-4 in-gp-tl">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								</span>
								<input type="text" id="namedeli" th:field="*{name}" class="form-control" placeholder="Tên người nhận">
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->
						<div class="col-md-4 in-gp-tb">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
								</span>
								<input type="text" id="phone_number" th:field="*{phone_number}" class="form-control" placeholder="Số điện thoại">
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->
						<div class="col-md-4 in-gp-tb">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
								</span>
								<input type="text" id="address_detail" onkeyup="displayWhenKeyUp()" th:field="*{address_detail}" class="form-control" placeholder="Địa chỉ">
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->
					
				</div><!-- /.row -->
			</div>
			<!-- Map -->
			<!--  <div id="map"></div>
		    <script async defer
		    th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyAoGgtWW7fC6R7e23uvFNjSXskpGAfqAT0}">
		    </script>-->
		    <div class="mapouter">
		    	<div class="gmap_canvas" id="mapx">
		    		
		    	</div>
		    	<style>.mapouter{position:relative;height:430px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;}
		    	</style>
		    </div>
			<!-- //Map -->
		</div>
		
		<div class="container" style="background:#FFFFFF; margin-top: 20px;">
				<div class="address-customer">
					<h3>Sản phẩm</h3>
					<div class="bs-docs-example wow fadeInDown animated" data-wow-delay=".5s">
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th>Tên sản phẩm</th>
									<th>Màu</th>
									<th>Đơn giá</th>
									<th>Số lượng</th>
									<th>Thành tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${listOrder}">
									<td><img th:src="${order.picture}" class="img-thumbnail" width="60" height="60"></td>
									<td th:text="${order.name}"></td>
									<td th:text="${order.color}"></td>
									<td th:text="${order.price_sell}"></td>
									<td th:text="${order.amount}"></td>
									<td th:text="${order.product_price}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<!--delivery-->
			<div class="delivery-customer row" style="background: #FAFDFF; border-top: 0.5px dotted green;">
				<div class="col-md-1">
					<input style="margin-top:10px;" type="button" onclick="barcodeClick()" class="btn btn-warning" value="Quét mã">
				</div>
				<div class="col-md-1">
					<input style="margin-top:15px;" type="text" id="barcode">
					<input style="margin-top:15px;" type="hidden">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-7 row">
					<div class="col-md-3"><p>Đơn vị vận chuyển:</p></div>
					<div class="col-md-4"><h4><b>Vận chuyển nhanh</b></h4><p><i th:utext="${dateHasProduct}"></i></p></div>
					<div class="col-md-2"><input type="checkbox" id="checkPoint"><p>Tích điểm</p></div>
					<div class="col-md-3">
						<select style="margin-top:10px;" th:field="*{status_pay}">
						  <option value="1">Thanh toán khi nhận hàng</option>
						  <option value="2">Thanh toán với paypal</option>
						</select>
					</div>
				</div>
			</div>
			<!--//delivery-->
			<!--bill-->
			<div class="delivery-customer row" style="background: #FAFDFF; border-top: 0.5px dotted green;">
				<div class="col-md-8">
				</div>
				<div class="col-md-4 row">
					<div class="col-md-7"><p>Tổng số tiền:</p></div>
					<div class="col-md-5"><h3 th:text="${total_money}+ đ"></h3></div>
					<input type="hidden" value="xc" th:field="*{total_money}">
				</div>
			</div>
			<!--//bill-->
		</div>
		<!--button-->
		<div class="btn-shop row" style="margin-top: 30px; margin-left: 80px;">
			<div class="col-md-9">
			</div>
			<div class="col-md-2" >
				<input type="submit" class="btn btn-warning" value="ĐẶT HÀNG">
				<!-- <a href="#" class="btn btn-warning" style="font-size: 20px;">ĐẶT HÀNG</a> -->
			</div>
		</div>
		<!--//button-->
	</div>
	</form>
	<!--//short-codes-->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-info">
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
					<h4 class="footer-logo"><a href="index.html">HT <b>Pharmacy</b> <span class="tag">Everything for you </span> </a></h4>
					<p>© 2019 HT Pharmacy. All rights reserved | Design by <a th:href="@{/index}" target="_blank">HT</a></p>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
					<h3>Về chúng tôi</h3>
					<ul>
						<li>100% hàng thật</li>
						<li>Giao hàng free</li>
						<li>Bao đổi trả</li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
					<h3>Đăng ký</h3>
					<p>Đăng ký thông tin của bạn dễ dàng liên lạc </p>
					<form>
						<input type="text" placeholder="Enter Your Email" required="">
						<input type="submit" value="Go">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//footer-->
	<!--search jQuery-->
	<script th:src="@{/js/main.js}"></script>
	<!--//search jQuery-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>